@font-face{font-family:'supermarketregular';src:url('supermarket-webfont.eot');src:url('supermarket-webfont.eot?#iefix') format('embedded-opentype'),
url('supermarket-webfont.woff2') format('woff2'),
url('supermarket-webfont.woff') format('woff'),
url('supermarket-webfont.ttf') format('truetype'),
url('supermarket-webfont.svg#supermarketregular') format('svg');font-weight:normal;font-style:normal;}
